<!DOCTYPE html>
<!-- 使用thymeleaf需引入 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        input[type=text]{
            height: 35px;
            width: 400px;
        }
        input[type=submit]{
            height: 40px;
            width: 100px;
            background: url("img/buttonbg.png");
        }
        #se{
            position: absolute;
            left: 50px;
            top: 50px;
        }
    </style>
</head>
<body>
<form action="seeByName2" method="post" >
    <div id="se">
        <input type="text" id="" value="" name="spname"/>&nbsp;&nbsp;
        <input type="submit" value="查询"/>
    </div>
</form>

</body>
</html>